<html>
<head><title>Threats to Afghan Archaeology</title></head>
<body style="background-color:lightblue">
<style>
h2 {text-align:center; font-family:verdana;}
p {text-align:center; font-family:verdana;}
ul {text-align:center;}
</style>
        <h2>Modern Mining and Cultural Heritage Conservation: An Experimental Study in Archaeological Threat Assessment</h2>
        <h2>Herat Province, Afghanistan</h2>
        <p>Computing for Social Science Final Project</p>
        <p>Dani Brown and Kate McDonnell</p>
        <p>Winter 2015</p>
         <hr>

        <ul><b>
            <li><a href="/archsites/">Individual Site Threat Assessments</a></li>


            <li><a href="/sitemap/">Map of Archaeological Sites</a></li>
        </ul>

        <p align="center"><a href="http://s300.photobucket.com/user/danibkatem/media/cfss_map_zps1udazr7b.png.html" target="_blank"><img src="http://i300.photobucket.com/albums/nn18/danibkatem/cfss_map_zps1udazr7b.png" border="0" alt=" photo cfss_map_zps1udazr7b.png"/></a></p>



</body>
</html>